@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(217, 198, 176, 0.42);
}
.whatsapp{
    color: #25d366;
    font-size: 30px;
    text-decoration: none;
    text-shadow: 1px 2px 2px #000000;
}
.principal{
    text-align: center;
    position: relative;
    top: 20px;
}
.tel{
    position: relative;
    top: 3px;
}
header{
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 2px solid transparent;
    background-clip: padding-box;
    text-align: center;
    position: relative;
    bottom: 250px;
    padding: 15px 0;
    border-radius: 10px;
}
nav a{
    font-family: "Roboto", sans-serif;
    display: inline-block;
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 1px;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    margin: 0 40px;
    padding: 3px 20px;
    transition: 0.3s;
}
nav a:hover{
    color: rgba(0, 0, 0, 0.482);   
}
.encabezado-img{
    height: 100vh;
    background-image: url(images/tunel.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #f2f2f2;
    text-shadow: 1px 0px 2px #000000;
}
.encabezado-img p{
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-shadow: 1px 2px 3px #000000;
}
.encabezado-img h1{
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    padding: 20px;
    text-shadow: 1px 2px 3px #000000;
}


@media (max-width: 1024px) {
    .header-nav{
        position: relative;
        bottom: 400px;
        width: 85%;
    }
    nav a{
        margin: auto;
    }

    .encabezado-img h1{
        font-size: 110px;
    }

}

@media (max-width: 768px) {
    .header-nav{
        position: relative;
        bottom: 300px;
        width: 80%;
    }
    nav a{
        font-size: 15px;
        margin: auto;
    }

    .encabezado-img h1{
        font-size: 90px;
    }

}
@media (max-width: 700px){
      .header-nav {
        display: none;
    }

    @media (max-width: 550px){
        .encabezado-img h1{
            font-size: 50px;
        }

        .encabezado-img p{
            font-size: 20px;
        }
    }

}

/********************************************** INICIO TARJETAS ******************************************/

.title{
    font-family: "Anton SC", sans-serif;
    text-align: center;
    font-size: 50px;
    letter-spacing: 2px;
    color: #6a6a6a;
    margin-top: 20px;
    font-weight: 100;
}
.container{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.container .card{
    width: 300px;
    height: 400px;
    border-radius: 8px;
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.359);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
    background-color: #ffffff;
}
.container .card:hover{
    cursor: pointer;
    transform: translateY(-8px);
    box-shadow: 3px 4px 9px rgba(0, 0, 0, 0.359);
}
.container .card img{
    width: 100%;
    height: 220px;
}

.container .card h4{
    font-family: "Anton SC", sans-serif;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: 600;
}
.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a{
    font-weight: 500;
    position: relative;
    top: 30px;
    text-decoration: none;
    color: #6a6a6a;
    font-size: 25px;
    font-family: "Anton SC", sans-serif;
}

/************************************************* FIN TARJETAS **************************************************/

#hero{
    height: 35vh;
    width: 85%;
    margin: auto;
    position: relative;
    top: 70px;
    border-radius: 20px;
    box-shadow: 0px 5px 13px 1px #000000d0;
  }
  .promo{
    padding-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    position: relative;
    z-index: 2;
    background-color: rgba(98, 98, 98, 0.156);
    backdrop-filter: blur(3px);
    background-clip: padding-box;
    border: 3px solid transparent;
    box-shadow: 0px 5px 13px 1px #000000;
  }
  .promo h1{
    font-size: 4.0rem;
    text-align: center;
    color: #ffffff;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000000d4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .vidmed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
  }
  .capa{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    opacity: 0.5;
    mix-blend-mode: overlay;
    border-radius: 15px; 
  }

/******************************************** INICIO HOTELES COSTA ATLANTICA *********************************************/

#wrapper-costa{
    padding: 170px;
    height: 100vh auto;
    background-image: url(fotos/humo\ 2.jpg);
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:70px;
  }
  .tarjeta{
    height: 350px;
    width: 350px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 10px;
    transition: 300ms;
  }
  .tarjeta:hover{
    transform: scale(1.1);
    box-shadow: 16px 13px 15px -10px rgba(31, 31, 31, 0.829);
  }
  .tarjeta:hover img{
   transform: scale(1.2);
   filter: brightness(60%);
   box-shadow: 16px 15px 17px -11px rgba(0, 0, 0, 1);
  }
  .tarjeta img{
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: 300ms;
  }
  .card_content{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .card_content h3{
    font-size: 30px;
    letter-spacing: 2px;
    font-family: "Bebas Neue", sans-serif;
    color: #ffffff;
    text-shadow: 1px 2px 2px #000000d4;
    z-index: 99;
  }
  
  /****************************************** MEDIA QUERY ******************************************/
  
  @media (max-width: 500px) {
    #wrapper-costa{
      padding: 60px;
    }
  }
  
  @media (max-width: 768px){
    .tarjeta{
       width: 250px;
       height: 250px;   
    }

    .tarjeta img{
        width: 100%;
    }

    #wrapper-costa{
        width: 100%;
        height: auto;
        margin-top: 90px;
    }

  }
  
  @media (max-width: 1024px){
    #wrapper-costa{
      padding: 70px;
      margin-top: 90px;
   }
  }


/******************************************** FIN HOTELES COSTA ATLANTICA *********************************************/


/************************************************** INICIO FOOTER *********************************************/


footer{
    background: #111;
    height: auto;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 40px;
    color: #fff;
}

.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p{
    max-width: 800px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socials{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem  0 3rem 0;
}

.socials li{
    margin: 0 10px; 
}

.socials a{
    text-decoration: none;
    color: #fff;
}

.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}

.socials a:hover i {
    color: #ff0000;
}

.footer-bottom{
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #000;
}

.footer-bottom a{
    color: #b80000;
    text-decoration: none;
}

@media (max-width: 768px){

    .footer-content p{
        width: 80%;
    }
}








































/******************************************** FIN FOOTER *********************************************/